multiagent-particle-envs/.git
*.pyc
*/.DS_Store
.DS_Store
legacy/
results/
dummy/
experiment_copies/
launch.json
.vscode/
eval/eval_experiments_and_configs/robotarium_gym:HeterogeneousSensorNetwork-v0/experiments
eval/eval_experiments_and_configs/mpe:MaterialTransport-v0/experiments
__pycache__/
